/* STYLE FOR YOU MAIN.HTML */
body{
    margin: 0;
    background-color: #508fc8;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style:normal;
}

.flexcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexintro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home{
    display: block;
    padding: 50px 100px;
    margin: 5% auto;
    width: 500px;
    border: 3px solid #e09e0f;
    border-radius: 10px;
    color: white;
    background-color: #FFB511;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    cursor: pointer;
}

.home:hover{
    opacity: 0.5;
}

h1{
    font-family: "EB Garamond", serif;
    text-decoration: underline;
    color: white;
    font-size: 70px;
    animation: h1color 5s infinite;
}

p{
    font-family: "EB Garamond", serif;
    color: white;
    font-size: 50px;
}

.flexgallery{
    flex-direction: row;
    opacity: 0.5;
    padding: 50px;
    filter: blur(6px);
    transition-duration: 0.2s;
}

img{
    animation: imgscale 5s infinite;
}

.flexgallery:hover{
    opacity: 1.0;
    filter: none;
}

a{
    text-decoration: none;
}


.flexresource{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.nari{
    display: flex;
    padding: 80px 160px;
    margin: 5% auto;
    border: 3px solid #e09e0f;
    border-radius: 10px;
    color: white;
    background-color: #FFB511;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.nari:hover{
    background: #e09e0f;
    color: white;
    font-size: 45px;
    text-align: center;
    scale: (1.1, 1.1);
}

.campusgroups{
    display: flex;
    padding: 80px 160px;
    margin: 5% auto;
    border: 3px solid #e09e0f;
    border-radius: 10px;
    color: white;
    background-color: #FFB511;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.campusgroups:hover{
    background: #e09e0f;
    color: white;
    font-size: 45px;
    text-align: center;
    scale: (1.1, 1.1);
}

.instagram{
    display: flex;
    padding: 80px 160px;
    margin: 5% auto;
    border: 3px solid #e09e0f;
    border-radius: 10px;
    color: white;
    background-color: #FFB511;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.instagram:hover{
    background: #e09e0f;
    color: white;
    font-size: 45px;
    text-align: center;
    scale: (1.1, 1.1);
}

@keyframes imgscale{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(0.9, 0.9);
    }
    100%{
        transform: scale(1, 1);
    }
}

@keyframes h1color{
    0%{
        color: white;
    }
    50%{
        color: #FFB511;
    }
    100%{
        color: white;
    }
}